
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 99%;
    --foreground: 220 14% 20%;

    --card: 0 0% 100%;
    --card-foreground: 220 14% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 14% 20%;

    --primary: 212 100% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 220 14% 25%;

    --muted: 210 20% 96%;
    --muted-foreground: 220 14% 46%;

    --accent: 210 20% 96%;
    --accent-foreground: 220 14% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 44%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 15% 15%;
    --foreground: 210 40% 98%;

    --card: 224 15% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 224 15% 16%;
    --popover-foreground: 210 40% 98%;

    --primary: 212 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 75%;

    --accent: 217 33% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 224 76% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}
